<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{selectedContact?.name}}</h2>
    <div class="flex-end">
      <div>
        <a class="btn btn-primary" href="#">Edit</a>
        <a class="btn btn-danger" href="#">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <!-- modify the <cms-contact-item> tag
to use an ngFor directive to display a list of all of the contacts in the
contactGroups array. -->
    <cms-contact-item [contact]="contact" *ngFor="let contact of contactGroups"></cms-contact-item>
  </div>
</div>
